@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
@import url('https://unpkg.com/css-aspect-ratio@1/css-aspect-ratio.css');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700;900&family=Open+Sans:wght@800&display=swap');

:root {
  --color-bug: #43ad6c;
  --color-text: #43ad6c;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #e2e8f0;
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 60px;
  background-color: #e2e8f0;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

* {
  font-family: 'Martel', serif;
  font-size: 1rem;
}

p {
  line-height: 1.8rem;
}

